body{
    font:1.6em helvetica;
    box-sizing : border-box;
    background-color: #f0f2f5;
}

.Login{
    width:100%;
    height : 40rem;
    display: flex;
    border-radius: 1rem;
    align-items : center;
    flex-wrap:wrap;
    justify-content:space-evenly;

}

.facebooktext{
    padding: 0.5rem;
    font-size: 3rem;
    color: #1877f2;
    font-weight: 770;
}

.title{
    font-size:2rem;
    color : black;
    font-weight: 450;
    
}

.logincontainer{
    border:  rgb(255,255,255) .5rem solid;
    background-color:white;
    height: 23rem;
    width: 27rem;
    padding: 1rem;
    border-radius : 1rem;

}

input[type=email]{
    width:100%;
    padding : 20px 20px;
    margin : 8px 0;
    box-sizing :border-box;
    border: 1.5px solid #ccc;
    border-radius: .5rem;

}

input[type=password]{
    width:100%;
    padding : 20px 20px;
    margin : 8px 0;
    box-sizing :border-box;
    border: 1.5px solid #ccc;
    border-radius: .5rem;
    
}

input::placeholder{
    font-size:1rem;
}

.btn{
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: #1877f2;
    border : none;
    box-sizing: border-box;
    padding: 15px 32px;
    justify-content:center;
    margin : 8px 1px;
    border-radius : .5rem;
    color : white;
    text-decoration: none;
    font-weight:bold;
    font-size:15px;
}

.forget a{
    color :#1877f2;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:small;
    
}


.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f0f2f5;
    background-color: #42b72a;
    border: none;
    padding: 20px 32px;
    border-radius: .5rem;
    text-decoration:none;
    font-size: 18px;
    cursor: pointer;
    width: 60%;
    font-weight: bold;
    margin-left: 20%;
}

.page a{
    font-size: 1rem;
    color : black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top:.8rem;

}

.page{
    font-size: .9rem;
    padding-left: 10%;
    padding-top:2%;
    
}

.logindetail{
    border-bottom: .01rem rgb(43,40,40) solid;   

}

.btn a{
    text-decoration:none;
    color:white;

}

.btn a:hover{
    color: black;
}