.popup{
    position : fixed;
    margin-top : 15rem;
    left: 20%;
    width: 95%;
    height: 95vh;
    background-color: rgba(0,0,0,0.2);

    display:flex;
    justify-content : center;
    align-items : center;
}

.popup-inner{
    position : relative;
    padding: 32px;
    width : 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .signin-btn{
    position : absolute;
    top : 16px;
    right : 16px;
    
}
